.oauth_button {
background: url('./images/oauth_icon.png') left top no-repeat;
font: normal 12px Tahoma, 'Showcard Gothic', Verdana;
padding: 4px 8px 4px 18px;
border-radius: 5px;
color: white !important;
}

.oauth_fb_del {
background-position: left -32px;
background-color: #3B5998;
}

.oauth_fb_add {
background-position: 2px 4px;
background-color: #3B5998;
}

.oauth_tw_del {
background-position: 2px -80px;
background-color: #00aced;
}

.oauth_tw_add {
background-position: 2px -59px;
background-color: #00aced;
}