<!-- IF not S_IS_BOT and not S_USER_LOGGED_IN -->
  <li><a class="oauth_button oauth_int_add" href="{U_OAUTH_INTERNAL_CONNECT}">{L_OAUTH_INT_CONNECT}</a></li>
<!-- ELSE IF S_USER_LOGGED_IN and not S_IS_BOT -->
  <!-- IF S_OAUTH_INTERNAL --><li><a class="oauth_button oauth_int_del " href="{U_OAUTH_INTERNAL_CONNECT}" title="{L_OAUTH_INT_DEAUTHORIZE}">-</a></li>
  <!-- ELSE --><li><a class="oauth_button oauth_int_add" href="{U_OAUTH_INTERNAL_CONNECT}" title="{L_OAUTH_INT_AUTHORIZE}">+</a></li>
  <!-- ENDIF -->
<!-- ENDIF -->	